@model ItemsVM
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="card-body row">
        <h1 style="text-align:center; margin-bottom:20px;">Teacher Create</h1>
        <form method="post" class="forms-sample" enctype="multipart/form-data">
            <div style="width:40%; margin-bottom:40px; padding-left:70px; ">
                <label style="margin-bottom:10px;  font-size:20px;" font-size:20px;" asp-for="@Model.teacher.IMageFile">Teacher Image</label>
                <input asp-for="@Model.teacher.IMageFile" accept="image/*" class="form-control">
                <span class="mt-2 text text-danger" asp-validation-for="@Model.teacher.IMageFile"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label style="margin-bottom:10px; font-size:20px;" asp-for="@Model.teacher.Name">Tacher Name</label>
                    <textarea asp-for="@Model.teacher.Name" type="text"></textarea>
                    <span class="mt-2 text text-danger" asp-validation-for="@Model.teacher.Name"></span>
                </div>
                <div class="col-md-4">
                    <label style="margin-bottom:10px; font-size:20px;" asp-for="@Model.teacher.Surname">Tacher Surname</label>
                    <textarea asp-for="@Model.teacher.Surname" type="text"></textarea>
                    <span class="mt-2 text text-danger" asp-validation-for="@Model.teacher.Surname"></span>
                </div>
                <div class="col-md-4">
                    <label style="margin-bottom:10px; font-size:20px;" asp-for="@Model.teacher.AboutMe">Tacher AboutMe</label>
                    <textarea asp-for="@Model.teacher.AboutMe" type="text"></textarea>
                    <span class="mt-2 text text-danger" asp-validation-for="@Model.teacher.AboutMe"></span>
                </div>
                <div class="col-md-4">
                    <label style="margin-bottom:10px; font-size:20px;" asp-for="@Model.teacher.Degree">Tacher Degree</label>
                    <textarea asp-for="@Model.teacher.Degree" type="text"></textarea>
                    <span class="mt-2 text text-danger" asp-validation-for="@Model.teacher.Degree"></span>
                </div>
                <div class="col-md-4">
                    <label style="margin-bottom:10px; font-size:20px;" asp-for="@Model.teacher.Experience">Tacher Experience</label>
                    <textarea asp-for="@Model.teacher.Experience" type="text"></textarea>
                    <span class="mt-2 text text-danger" asp-validation-for="@Model.teacher.Experience"></span>
                </div>


            </div>
            <div class="col-md-4">
                <label style="margin-bottom:10px; font-size:20px;" asp-for="@Model.teacher.Mail">Tacher Mail</label>
                <input class="form-control" asp-for="@Model.teacher.Mail" type="email">
                <span class="mt-2 text text-danger" asp-validation-for="@Model.teacher.Mail"></span>
            </div>
            <div class="col-md-4">
                <label style="margin-bottom:10px; font-size:20px;" asp-for="@Model.teacher.PhoneNUmber">Tacher PhoneNUmber</label>
                <input class="form-control" asp-for="@Model.teacher.PhoneNUmber" type="tel">
                <span class="mt-2 text text-danger" asp-validation-for="@Model.teacher.PhoneNUmber"></span>
            </div>
            <div class="col-md-4 ">
                <label class="form-label" asp-for="@Model.teacher.HobbieIds"> Hobbies</label>

                <select class="form-select" asp-for="@Model.teacher.HobbieIds">

                    @foreach (var item in ViewBag.Hobbiy)
                    {

                        <option value="@item.Id">@Html.Raw(item.Name)</option>

                    }
                </select>
                <span class="mt-2 text text-danger" asp-validation-for="@Model.teacher.HobbieIds"></span>
            </div>

            <div class="col-md-4 ">
                <label class="form-label" asp-for="@Model.teacher.PositionIds"> Position</label>

                <select class="form-select" asp-for="@Model.teacher.PositionIds">

                    @foreach (var item in ViewBag.Position)
                    {

                        <option value="@item.Id">@Html.Raw(item.Name)</option>

                    }
                </select>
                <span class="mt-2 text text-danger" asp-validation-for="@Model.teacher.PositionIds"></span>
            </div>


            <div class="col-md-4 ">
                <label class="form-label" asp-for="@Model.teacher.FacultyIds"> Faculty Name</label>

                <select class="form-select" asp-for="@Model.teacher.FacultyIds">
                    <optgroup label="Faculty">
                        @foreach (var item in ViewBag.faculty)
                        {

                            <option value="@item.Id">@Html.Raw(item.FacultyName)</option>

                        }
                    </optgroup>
                    <optgroup label="Department">
                        @foreach (var item in ViewBag.faculty)
                        {

                            <option value="@item.Id">@Html.Raw(item.DepartmentName)</option>

                        }
                    </optgroup>

                </select>
                <span class="mt-2 text text-danger" asp-validation-for="@Model.teacher.PositionIds"></span>
            </div>






            <div>
                <div class="form-row col-12" id="features">
                    <div class="form-group col-md-6" data-index="0">
                        <label asp-for="@Model.Skill.SkillNames">Skill Name</label>
                        <input class="form-control" asp-for="@Model.Skill.SkillNames" type="text" />
                        <span class="text-danger" asp-validation-for="@Model.Skill.SkillNames"></span>
                        <label asp-for="@Model.Skill.SkillPoints"> Skill Points</label>
                        <input class="form-control" asp-for="@Model.Skill.SkillPoints" type="text" />
                        <span class="text-danger" asp-validation-for="@Model.Skill.SkillPoints"></span>
                        <span><i style="cursor:pointer" class="fas fa-minus delete-feature"> </i></span>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group">
                        <button data-nextIndex="2" class="add-feature btn btn-primary">+</button>
                    </div>
                </div>
            </div>

            <div class="form-row col-12" id="social">
                <div class="form-group col-md-6" data-index="0">
                    <label asp-for="@Model.socialTeacher.Icons">Social Icon</label>
                    <input class="form-control" asp-for="@Model.socialTeacher.Icons" type="text" />
                    <span class="text-danger" asp-validation-for="@Model.socialTeacher.Icons"></span>
                    <label asp-for="@Model.socialTeacher.Urls"> Social Url</label>
                    <input class="form-control" asp-for="@Model.socialTeacher.Urls" type="text" />
                    <span class="text-danger" asp-validation-for="@Model.socialTeacher.Urls"></span>
                    <span><i style="cursor:pointer" class="fas fa-minus delete-feature"> </i></span>
                </div>


            </div>
            <div class="form-row justify-content-center">
                <div class="form-group">
                    <button data-nextIndex="2" class="add-social btn btn-primary">+</button>
                </div>
            </div>






            <div class="col-md-12 mt-3">
                <a class="btn btn-dark" asp-controller="Techer" asp-action="index"><i class="fas fa-undo"></i> Back</a>
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {
            $(document).on("click", ".add-feature", function (e) {
                e.preventDefault();
                var nextIndex = $(this).attr("data-nextIndex");
                var inputGroup = `
        <div class="form-group col-md-6" data-index="0">
                            <label for="Skill_SkillNames">Skill Name</label>
                            <input class="form-control" type="text"  name="Skill.SkillNames" value="">
                            <span class="text-danger field-validation-valid" data-valmsg-for="Skill.SkillNames" data-valmsg-replace="true"></span>
                            <label for="Skill_SkillPoints"> Skill Points</label>
                            <input class="form-control" type="text"  name="Skill.SkillPoints" value="">
                            <span class="text-danger field-validation-valid" data-valmsg-for="Skill.SkillPoints" data-valmsg-replace="true"></span>
                            <span><i style="cursor:pointer" class="fas fa-minus delete-feature"> </i></span>
                        </div>
`
                $("#features").append($(inputGroup))
                nextIndex = +nextIndex + 1;
                console.log(nextIndex)

                $(this).attr("data-nextIndex", nextIndex)
            })
            $(document).on("click", ".delete-feature", function (e) {
                e.preventDefault();

                $(this).parents(".form-group").empty();
            })
        })
        $(document).ready(function () {
            $(document).on("click", ".add-social", function (e) {
                e.preventDefault();
                var nextIndex = $(this).attr("data-nextIndex");
                var inputGroup = `
                                               <div class="form-group col-md-6" data-index="0">
                                    <label for="socialTeacher_Icon">Social Icon</label>
                                    <input class="form-control" type="text" data-val="true" data-val-length="The field Icon must be a string with a maximum length of 80." data-val-length-max="80" maxlength="80" name="socialTeacher.Icons" value="">
                                    <span class="text-danger"></span>
                                    <label for="socialTeacher_Url"> Social Url</label>
                                    <input class="form-control" type="text" data-val="true" data-val-length="The field Url must be a string with a maximum length of 200." data-val-length-max="200"  maxlength="200" name="socialTeacher.Urls" value="">
                                    <span class="text-danger"></span>
                                    <span><i style="cursor:pointer" class="fas fa-minus delete-feature"> </i></span>
                                </div>
                                          `
                $("#social").append($(inputGroup))
                nextIndex = +nextIndex + 1;
                console.log(nextIndex)

                $(this).attr("data-nextIndex", nextIndex)
            })
            $(document).on("click", ".delete-feature", function (e) {
                e.preventDefault();

                $(this).parents(".form-group").empty();
            })
        })
    </script>

}
@section Script{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("teacher_Name")
        CKEDITOR.replace("teacher_Surname")
        CKEDITOR.replace("teacher_Experience")
        CKEDITOR.replace("teacher_Degree")
        CKEDITOR.replace("teacher_AboutMe")
    </script>
}

