@model HomeVM
@{
    ViewData["Title"] = "IndexSearch";
}

@if (Model.courses == null)
{
}
else
{

    <div class="courses-area two pt-150 pb-150 text-center">
        <div class="container">
           
            @await Html.PartialAsync("/Views/Shared/_coursesPagination.cshtml", Model.courses)
        </div>
    </div>
}


<div class="blog-area pt-150 pb-150">
    <div class="container">
      
        <div class="row">
            @foreach (var item in Model.blogs)
            {
                
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a asp-controller="blog" asp-action="details" asp-route-Id="@item.Id"><img src="~/assets/img/blog/@item.Img" alt="blog"></a>
                                <div class="blog-hover">
                                    <a asp-controller="blog" asp-action="details" asp-route-Id="@item.Id"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-top">
                                    <p>By Ahad  /  @item.DateTime.ToString("dd MMMM yyyy") /  <i class="fa fa-comments-o"></i> 4</p>
                                </div>
                                <div class="blog-bottom">
                                    <h2><a href="blog-details.html">@Html.Raw(item.Title)</a></h2>
                                    <a asp-controller="blog" asp-action="details" asp-route-Id="@item.Id">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                
            }

        </div>
    </div>
</div>


<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
     
        <div class="row">
            @foreach (var item in Model.events)
            {
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-event mb-35">
                        <div class="event-img">
                            <a asp-controller="event" asp-action="details" asp-route-Id="@item.Id"><img src="~/assets/img/event/@item.Img" alt="event"></a>
                        </div>
                        <div class="event-content text-left">
                            <h3>@item.StarDate.ToString("dd MMMM yyyy")</h3>
                            <h4><a asp-controller="event" asp-action="details" asp-route-Id="@item.Id">ADVANCE PHP WORKSHOP</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>@item.FinisDate.ToString("dd MMMM yy")</li>
                                <li><i class="fa fa-map-marker"></i>@Html.Raw(item.Venue)</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="details" asp-route-Id="@item.Id">join now</a>
                            </div>
                        </div>
                    </div>

                </div>
            }

        </div>
    </div>
</div>

